/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	font: 11px/165% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #666666; 	
	margin: 0; padding: 0 0 50px 0; 
	background: #070707 url(bg.jpg) repeat-x;
	text-align: center;
}

#addList{
	margin-top:50px;
}
/* Links */
a {
	text-decoration: none;
	color: #A56F38; 	
}
a:hover {
	background: #F0f0f0; 
	color: #000;
	border-bottom: 1px dotted #000;
}
input { 
width: 550px; 
height: 40px;
 text-align: center; 
 border:none;


}
/* Headers */
h1, h2, h3 {
	font: bold 1em/1.5em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #111;
	padding: 15px 10px 5px 10px;
	margin: 0;
}
h1 {
	font-size: 345%;	
	font-weight: normal;
	letter-spacing: -2px;	
}
h2 {
	font-size: 200%;
	color: #663333;	
}
h3 {
	font-size: 170%;
	font-weight: normal;	
}

p, dl { padding: 10px; margin: 0; }

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: none; }


/* form elements */

label {
	display: block;
	font-weight: bold;
	margin: 8px 0 5px 0;
	color: #895F30;
}
input, select {
	padding: 2px;
	font: normal 1em Verdana, sans-serif;
	color: #666666;
	background: #fff;  	
}

input, textarea, select {
	background: #fff;
  	border-width: 1px;
  	border-style: solid;
  	border-color: #D4D4D4 #ebebeb #ebebeb #d4d4d4; 
}



/* ------------------------------------------
   LAYOUT
------------------------------------------- */ 
#header-wrap {
	
	position: relative;
	margin: 0 auto;
	width: 640px;
	height: 100%;
	text-align: left;	
}


#nav ul li {
	display: inline;
	margin: 0; padding: 0;
	padding-bottom: 3px;
	border-bottom: 1px solid #ebebeb;
	
}
#nav ul li a {
	float: left;
	margin: 0;	padding: 18px 11px 0 11px;
	font: bold 14px/35px 'Trebuchet MS', Tahoma, Helvetica, Arial, Geneva, Sans-serif;
	text-decoration: none;	
	color: #ebdcf3;
	
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #a1e0e7;
	background: none;
	border: none;
	
}
#nav ul li#current a {	
	color: #000;	
	background: #d5d3d6 url(nav-current.jpg) repeat-x;
	border-bottom: 1px solid #CECECE;
}

#header-wrap h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 62px Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -1.5px;
	color: #070000;
	text-decoration: none;
		
	/* change the values of top and left to adjust the position of the logo*/
	top: 135px; left: 48px;	
}
#header-wrap h1#logo-text a:hover {
	background: none;	border: none;
}
#header-wrap p#intro {
	position: absolute;
	margin: 0; padding: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.6em;
	font-style: italic;
	text-transform: none;
	color: #663333;
	width: 400px;
	
	/* change the values of top and left to adjust the position */
	top: 205px; left: 60px;		
}


#content {
	float: left;
	width: 100%;
	background: #fff url(content-bg.jpg) no-repeat;
	
}

.col-one {
	margin-right: 250px;
	padding-left: 25px;
}

.col-three {
	
	width: 600px;
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	border-top: 1px solid #ebebeb;
	
}
.col-one, .col-two, .col-three {
	padding-bottom: 20px;
}

#content .col-one h2 {
	padding-bottom: 3px;
	font: normal 3.4em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #000;
    line-height: 1.1;
	letter-spacing: -2px;	
	text-transform: none;
	border-bottom: 1px solid #ebebeb;	
	margin-left: 5px;
	padding-left: 5px;
}
#content .col-one h2 a {
	color: #000;
	text-decoration: none;	
	background: none; 
	border: none;
}

#content-wrapper .col-two h3, 
#content-wrapper .col-three h3 {
	color: #111;
	font: normal 1.8em "Trebuchet MS", Tahoma, Arial, sans-serif;
	text-transform: none;
	letter-spacing: -0.5px;
	padding: 5px 10px;
	margin: 15px 0 5px 0;
}


/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* clearing */
.clearer { clear: both; }
.clear {	display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}


