<!DOCTYPE html>
<html>
<head>
<title>TODO List</title>

<link href=" {{ url_for('static',filename = 'style.css') }}" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}

<!-- <script>
var i =1;
	
	function addList(){
		var list = document.getElementById("addtext");	
		var newInput = document.createElement('div');
        	newInput.innerHTML =  " <input type=\"checkbox\" name=\"a\" style='position:absolute;float:left;'><input type='text' style='' maxlength='50' id="+i+" name=input"+i+ ">";
        	list.appendChild(newInput);	
        	 newInput.focus();
        	i++;
	}
</script>-->
<script>
	function getData(){
		//alert('qqq');
		var list = document.getElementById('addList').value;
		$.ajax({
			url : "http://localhost:5000/addList",
			dataType: 'text',
			type : "POST",
			data : {"list": list},
			success : function(data)
			{
				showList();
			}
		});
		
	}
	
	$(document).ready(function() {
		$('.todo').live('click', function() {
			$(this).attr('class', 'todocomplete');
			var n = [];
			$('.todocomplete').each(function(i){
							
				n[i] = $(this).html()
				$.ajax({
					url:"http://localhost:5000/altList",
					datatype: 'text',
					type: 'POST',
					data: {'title': n[i] },
					success:function(data){
						return '1'
					}
				});
				
			});
			
			return false;
		});
		
		$('.todocomplete').live('click', function() {
			$(this).attr('class', 'todo');
			var m = [];
			$('.todo').each(function(i){
				
				m[i] = $(this).html()
				$.ajax({
					url:"http://localhost:5000/undoList",
					datatype: 'text',
					type: 'POST',
					data: {'title': m[i]},
					success:function(data){
						return '1'
					}
				});
				
			});
			
			return false;
		});
		
		$('#delete').click(function() {
			
			$.ajax({
					url:"http://localhost:5000/deleteList",
					datatype: 'text',
					type: 'POST',
					success:function(data){
						
						showList();
					}			
			});
			
			return false;	
		});
	});
	
	
	function showList(){
		
				document.getElementById("addList").value = "";
				$.ajax({
					url:"http://localhost:5000/showList",
					dataType: 'text',
					type :'POST',
					success : function(data)
					{
						
						var jsonElement = eval(data);
						$("#List").html("");
						for(var i =0; i<jsonElement.length;i++){
							//var listElement =document.createElement('li');
							//listElement.innerHTML = "<a href='#' onclick=\"javascript:Done("+i+", this);\">"+jsonElement[i]['title']+"</a>";
							//document.getElementById("List").appendChild(listElement);
							//alert(jsonElement[0]['done']);
							var li = $("<li></li>");
							if(jsonElement[i]['done'] == 1){
								li.html("&nbsp&nbsp<a class='todocomplete' href='#'>"+jsonElement[i]['title']+"</a>");
							}
							else{
								li.html("&nbsp&nbsp<a class='todo' href='#'>"+jsonElement[i]['title']+"</a>");
							}
							
							
							$("#List").append(li);
							
							
						}
						
						
					}
					
				});
	}
	function Done(id, element){
		//alert(element.getParent());
		//element.style="display:none;";
		
	}
</script>

</head>
<body onload="javascript:showList();">
	<!-- header starts-->
	<div id="header-wrap" >		

		<div id="content"><div class="col-one">

			<h2>TODO List</h2>

			<div id="addtext" >
					<input type="text" name="addList" id="addList" maxlength='80' onkeypress="javascript:if(event.keyCode == 13){getData();}" onclick="javascript:this.value='';">
					
						<ul id="List">
							
						</ul>
					{% endblock %}
					
				<!--<script>
				    $("input").keyup(function () {
				      var value = $(this).val();
				      $("p").text(value);
				    }).keyup();
				</script>-->
			</div>
		</div>
			<div class="col-three">
			<a href="http://in.linkedin.com/pub/varun-rana/20/7b1/441" class="float-left" style=\"margin-top:10px;\">Developed By : Varun Rana</a>
			<a href="#" id="delete" class="float-right" style=\"margin-top:10px;\">delete</a>
			</div>
		</div>
	<!-- header ends here -->
	</div>
	
	<!-- content starts -->
	<div id="footer-wrapper" class="clear">
		
	</div>
 </body>
 </html>